@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  background-color: hsl(240, 78%, 98%);
  
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: left 0vw bottom 0vh, right 0vw top 0vh;
  background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
}

.title {
  display: flex;
  margin: 0 0 20px 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.toggle-div span {
  font-size: 14px;
  color: hsl(234, 14%, 74%);
}

.title h1 {
  margin: 15px 0px;
  color: hsl(233, 13%, 49%);
}

.toggle-div {
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  align-items: center;
}

.center {
  margin: 0px 15px;
}

.switch {
  width: 46px;
  height: 26px;
  position: relative;
  display: inline-block;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: .4s;
  position: absolute;
  -webkit-transition: .4s;
  background-color: hsl(236, 72%, 79%);
}

.slider:before {
  left: 4px;
  content: "";
  bottom: 4px;
  width: 18px;
  height: 18px;
  transition: .4s;
  position: absolute;
  -webkit-transition: .4s;
  background-color: white;
}

input:checked+.slider {
  background-color: hsl(237, 63%, 64%);
}

input:focus+.slider {
  box-shadow: 0 0 1px hsl(237, 63%, 64%);
}

input:checked+.slider:before {
  transform: translateX(20px);
  -ms-transform: translateX(20px);
  -webkit-transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}